/* regole generali */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
 color: grey;
 text-decoration: none;
}
a:hover{
 color: white;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* barra laterale */
#menu{
  width: 200px;
  height: 91vh;
  background-color: black;
  padding: 5px 10px;
  float: left;
}
.playlist{
  overflow: auto;
}
.playlist a{
  padding-top: 35px;
}
.playlist i{
  height: 30px;
}
header{
  width: 200px;
  float: left;
  position: fixed;
}
header img{
  height: 40px;
  width: 150px;
}

header i{
  color: grey;
  font-size: 20px;
  padding: 5px 5px;
}
header a{
  font-size: 12px;
}
header h2{
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.download{
  padding-top: 95px;
  color: grey;
}
.download i{
  font-size: 10px;
  margin-bottom: 5px;
}
.account i{
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.account a{
  color: white;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

#upgrade{
  height: 100px;
  width: calc(100% - 200px);
  background-color: black;
  opacity: 0.9;
  float: left;
  position: fixed;
  margin-left: 200px;
}
#upgrade button{
  color: white;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 20px;
  width: 200px;
  height: 35px;
  background-color: black;
  float: right;
  text-align: center;
  margin-top: 25px;
}
#upgrade button{
  color: grey;
  transition: all;
}
#upgrade button:hover{
  width: 220px;
  height: 40px;
}


#libreria{
  float: left;
  min-height: 495px;
  width: calc(100% - 200px);
  background-color: #282828;
  overflow: auto;
  margin-top: 100px;
  margin-left: 200px;
}
#navbar{
  width: 50%;
  margin-left: 25%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar a{
  font-size: 12px;
  transition: all;
}
#navbar a:active{
  text-decoration: underline 2px green;
}

#libreria h1{
  color: white;
  font-size: 25px;
  padding-left: 20px;
}
.song{
  display: flex;
  justify-content: space-around;
}
.song img{
  height: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all;

}
 img:hover{
  opacity: 0.2;

}
.descrizione{
  display: flex;
  justify-content: space-around;
}
.descrizione h2{
  color: white;
  text-align: center;
  font-size: 15px;
}
.descrizione p{
  color: grey;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}


.personalizzazione h1{
  margin-top: 40px;
}
.personalizzazione p{
  margin-top: 5px;
  margin-bottom: 10px;
  color: grey;
  font-size: 13px;
  padding-left: 20px;
}
.personalizzazione img{
  height: 150px;
  padding:0 20px;
}
.descrizione7{
  color: white;
  font-size: 10px;
  padding-left: 50px;
  display: inline-block;
}
.descrizione8{
  color: white;
  font-size: 10px;
  padding-left: 105px;
  display: inline-block;
}

.popular h1{
  margin-top: 40px;
}
.popular p{
  margin-top: 5px;
  margin-bottom: 10px;
  color: grey;
  font-size: 13px;
  padding-left: 20px;
}
.popular img{
  height: 150px;
  padding: 0 20px;
}




footer{
  height: 9vh;
  width: 100%;
  background-color: black;
  position: fixed;
  margin-top: 91vh;
  display: flex;
  justify-content: space-between;
}
.parte-sinistra{
  display: flex;
  width: 20%;
}
.parte-sinistra img{
  height: 50px;
  width: 60px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  display: block;
}
.parte-sinistra h2 h3{
  float: left;
  display: block;
}
.parte-sinistra h2{
  color: white;
  padding-left: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.parte-sinistra h3{
  color:grey;
  margin-left: 10px;
  font-size: 12px;

}
.parte-sinistra i{
  color: grey;
  font-size: 18px;
  padding-left: 20px;
  margin-top: 20px;
}

.parte-centrale{
  display: flex;
  width: 40%;
  align-items: center;
}
.bottoni-riproduzione{
  margin-left: 135px;
}
.bottoni-riproduzione i{
  color: white;
  font-size: 18px;
margin-left: 30px;
}
.bottoni-riproduzione p{
  color: white;
}
.barra{
    background-color: grey;
    border-radius: 10px;
    width: 400px;
    height: 3px;
    cursor: pointer;
}








.parte-destra{
  display: flex;
  width: 20%;
}
